/* body, canvas {
    cursor: url("cursor-o.png"), auto;
} */

body{ 
    font-family:'Courier New', Courier, monospace;
   text-align: center;
   background-image: url("./images/Purple_Nebula_01-1024x1024.png");  

}
#pauseBtn{
   transform: scale(0.6);
   position: fixed;
   top:90px;
   left:60px;
   cursor : pointer;
}
#playBtn{
  transform: scale(1.1);
   position: fixed;
   top:107px;
   left:115px;
   cursor: pointer;
}

#quitBtn{
  transform: scale(0.55);
   position: fixed;
   top:90px;
   left:140px
}
#shpjegimBtn{
  position: fixed;
   top:107px;
   left:195px
}
    #contanierface{
        display: none;
        justify-content: center;
    }
    #canvasface{
        position: absolute;
    }
.info {
   display: none;
}
    
 .info-content {
  /* background-image: url("./images/Blue_Nebula_04-1024x1024.png"); */
  background-color: rgba(255, 255, 255, 0.726);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -68%);
}

    .close-btn {
      background-color: transparent;
      color: white;
      border: none;
     margin-bottom: -10%;
      margin-left:270px;
      border-radius: 4px;
      cursor: pointer;
    }


#canvas{
     background-image : url("./images/image.png");
     background-position: center;
     background-position: no-repeat;
       background-size: cover;
}
@media (min-width: 980px) {
  #canvas{
    /* background: #222; */
 
    margin-top : 25vh;
 
    transform: scale(1.3);
  
}
}
@media (max-width: 979px) {
    #canvas{
    width: 90vw;
    margin-top : 25vh;
     
    }
}
#hidden{
  position: fixed;
  margin-top:40px;
  margin-left:45%;
  margin-right:50%;
}
#hidden button{
  color: #430891;
 background-color: rgb(203, 203, 203);
  font-family: "press Start 2P";
  font-style: normal;
  border-radius: 10px;
  border:none;
  box-shadow: 5px 5px 15px rgba(225, 118, 235, 0.3);
  cursor: pointer;
  overflow: hidden;
   transform: scale(1.2);
   animation: pulse 2s infinite;
}
 @keyframes pulse {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
   transform: scale(1.2);
  }
 }