body{ 
    font-family:'Courier New', Courier, monospace;
   text-align: center;
   background-image: url("Purple_Nebula_01-1024x1024.png");
}

@media (min-width: 980px) {
  #canvas{
    /* background: #222; */
    margin-top : 25vh;
    background: wheat;
    transform: scale(1.3);

           
}
}
@media (max-width: 979px) {
    #canvas{
    /* background: #222; */
    width: 90vw;
    margin-top : 25vh;
    background: wheat;
     
    }
}