h2{
    font-family:"Permanent Marker",cursive;
    text-align: center;
    text-shadow: 0px 0px 5px yellow, 0px -5px 6px red;
    }
    .cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px ;
    line-height: 75px;
    font-size: 50px;
    text-align: center;
    }
    #status{
    font-family:"Permanent Marker",cursive;
    text-align: center;
    text-shadow: 0px 0px 5px aqua, 0px -5px 6px rgb(94, 255, 0);
    }
    .cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
    }
    table {
    margin-left: auto;
    margin-right: auto;
    }
    h1{
    text-align: center;
    }
    button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    }
    button:disabled {
    background-color: grey;
    cursor: not-allowed;
    }
    #parag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    }
    #state1{
    font-family:"Permanent Marker",cursive;
    text-align: center;
    text-shadow: 0px 0px 5px aqua, 0px -5px 6px rgb(94, 255, 0);
    }
    #state2{
    font-family:"Permanent Marker",cursive;
    text-align: center;
    text-shadow: 0px 0px 5px aqua, 0px -5px 6px rgb(94, 255, 0);
    margin-left:10px;
    }